@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root {
  --primary:#4F2C1D;
  --secondary:#8B1E1E;
  --background:#FFFFFF;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
  background:var(--background);
  color:#222;
}

section{
  padding:60px 20px;
  max-width:1100px;
  margin:auto;
}

h2 {
  font-size: 36px;
  margin: 20px 0;
}

h1,h2,h3{
  color:var(--primary);
}

p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 18px;
  color: #222;
}

.label {
  font-size: 12px;
  letter-spacing: 3px;
  color: var(--secondary);
  font-weight: 600;
}

/* HERO */
.hero {
  min-width: 100%;
  padding: 0;
  position: relative;
  background: linear-gradient(
      to right,
      rgba(0,0,0,.8),
      rgba(0,0,0,.4)
    ),
    url("../assets/hospital.avif") center/cover no-repeat;
  display: flex;
  align-items: center;
  color: #fff;
}

.hero-container {
  padding: 80px 20px 0 20px;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 60px;
  align-items: center;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}

/* TEXTO */
.hero-label {
  font-size: 12px;
  letter-spacing: 3px;
  color: #FFF;
  font-weight: 600;
}

.hero-text h1 {
  color: #af1b1b;
  font-size: 44px;
  line-height: 1.2;
  margin: 20px 0;
}

.hero-text h1 span {
  color: #FFF;
}

.hero-text p {
  color: #e6e6e6;
  max-width: 520px;
  font-size: 14px;
  margin-bottom: 0;
}

/* AÇÕES */
.hero-actions {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: start;
  gap: 32px;
}

.hero-btn {
  padding: 14px 28px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.hero-btn.primary {
  background: var(--secondary);
  color: #FFF;
}

.hero-location {
  border: 1px solid rgba(255,255,255,.25);
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  opacity: .85;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* IMAGEM */
.hero-image {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* CARD */
.hero-card {
  position: absolute;
  bottom: 30px;
  right: 0px;
  background: rgba(0,0,0,.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 16px;
  width: 300px;
  box-shadow: 0 20px 40px rgba(0,0,0,.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.hero-card strong {
  display: block;
  margin-bottom: 6px;
}

.hero-card p {
  font-size: 13px;
  opacity: .8;
  margin-bottom: 10px;
  color: #fff;
}

.hero-card ul {
  list-style: none;
  padding: 0;
}

.hero-card li {
  font-size: 13px;
  margin-bottom: 6px;
}

/* SCROLL */
.hero-scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  opacity: .6;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,100% { transform: translate(-50%, 0); }
  50% { transform: translate(-50%, 8px); }
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 10px;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
  }

  .hero-actions {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .hero-card {
    right: 20px;
    bottom: 20px;
    padding: 10px;
    width: 220px;
  }

  .hero-card strong {
    font-size: 12px;
  }

  .hero-card p {
    font-size: 10px;
  }

  .hero-card li {
    font-size: 10px;
  }
}

.btn{
  background:var(--secondary);
  color:white;
  border:none;
  padding:12px 18px;
  border-radius:8px;
  cursor:pointer;
}

.card {
  position: relative;
  padding:20px;
  border-radius:12px;
  transition: .3s;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,.08);
}

.card-icon-h3 {
  display: flex;
  gap: 10px;
}

.card:hover{
  transform:translateY(-4px);
  box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.cards-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap:30px;
  margin-top:40px;
}

.card-icon-container {
  width: 40px;
  height: 40px;
  background: #8b1e1e1a;
  border-radius: 8px;
  padding: 6px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .icon {
  font-size: 20px;
  color: var(--secondary);
  flex-shrink: 0;
}

.card h3{
  margin-bottom:10px;
  color:var(--secondary);
}

.card p{
  font-size:14px;
  margin-bottom: 0;
}

/* SEÇÃO CONTATO */
.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.map-wrapper{
  border-radius:24px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(0,0,0,.12);
}

.map-wrapper iframe{
  width:100%;
  height:420px;
  border:0;
  filter:grayscale(20%);
}

.contact-card{
  display:flex;
  gap:20px;
  padding:14px 0px;
  border-radius:14px;
  align-items:center;
  max-width:300px;
}

.contact-card strong{
  font-size:14px;
}

.contact-card p{
  margin: 0;
  font-size:13px;
  opacity:.85;
}

.icon {
  font-size: 34px;
  color: var(--primary);
  flex-shrink: 0;
}

/* Responsivo */
@media(max-width:768px){
  .contact-grid {
    grid-template-columns: 1fr;
  }

  .map-text {
    order: 1;
  }

  .map-wrapper {
    order: 2;
  }

  .card:hover {
    transform: none;
  }

  .contact-card.center{
    display:none;
  }

  .contact-button{
    left:20px;
    right:auto;
    bottom:80px;
  }
}

.faq-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 60px;
}

.faq-info p {
  margin-bottom: 30px;
}

/* Botão WhatsApp */
.faq-button {
  background: var(--secondary);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 14px 26px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 600;
  transition: .3s;
}

.faq-button:hover {
  background: var(--primary);
  color: #fff;
}

/* LISTA */
.faq-list {
  border-top: 1px solid #eee;
}

.faq-item {
  border-bottom: 1px solid #eee;
  padding: 22px 0;
  cursor: pointer;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: #222;
}

.arrow {
  font-size: 20px;
  transition: .3s;
}

.faq-item.active .arrow {
  transform: rotate(180deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height .35s ease;
}

.faq-item.active .faq-answer {
  max-height: 200px;
}

.faq-answer p {
  margin-top: 14px;
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .faq-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}


.procedure-step {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
}

/* IMAGEM */
.procedure-image {
  height: 340px;
  width: 50%;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,.12);
}

.procedure-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* TÍTULO */
.procedure-title {
  margin-bottom: 40px;
}

/* TEXTO */
.procedure-description {
  color: #444;
  max-width: 520px;
}

/* LISTA */
.procedure-list {
  list-style: none;
  padding: 0;
}

.procedure-list li {
  font-size: 15px;
  color: #333;
  margin-bottom: 14px;
  padding-left: 30px;
  position: relative;
}

.procedure-list li::before {
  content: "✓";
  position: absolute;
  left: 0;
  color: var(--secondary);
  font-weight: bold;
}

/* DESTAQUE FINAL */
.procedure-highlight {
  margin-top: 60px;
  background: #f8f8f8;
  padding: 30px;
  border-radius: 18px;
  border-left: 6px solid var(--secondary);
}

.procedure-highlight p {
  margin-bottom: 0;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .procedure-step, .procedure-step.reverse {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .procedure-image {
    width: 100%;
    height: 260px;
  }

  .procedure-step.reverse {
    flex-direction: column-reverse;
  }

  .procedure-highlight{
    padding: 20px;
  }
}

/* SOBRE MIM */
.about-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 80px;
  align-items: center;
}

/* IMAGEM */
.about-image {
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,.12);
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
}

.about-image-mobile img {
  display: none;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,.12);
}

/* TEXTO */
.about-label {
  font-size: 12px;
  letter-spacing: 3px;
  color: var(--secondary);
  font-weight: 600;
}

.about-content h2 {
  margin: 20px 0;
}

.about-crm {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 999px;
  border: 1px solid rgba(0,0,0,.25);
  font-size: 12px;
  margin-bottom: 20px;
}

.about-content p {
  max-width: 520px;
}

/* BOTÃO */
.about-button {
  margin-top: 28px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: var(--secondary);
  color: #fff;
  padding: 14px 28px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 600;
  transition: .3s;
}

.about-button:hover {
  filter: brightness(0.9);
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .about-image img {
    display: none;
  }

  .about-image-mobile img{
    display: block;
  }

  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 0;
  }

  .about-content p {
    margin-inline: auto;
  }
}



.env-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.env-text-top p {
  max-width: 450px;
}

/* Imagens */
.env-image-main {
  position: relative;
  border-radius: 24px;
}

.env-image-main img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 24px;
  display: block;
  box-shadow: 0 10px 30px rgba(0,0,0,.12);
}

/* Bloco Inferior Direito */
.env-text-bottom p {
  font-size: 15px;
  line-height: 1.6;
  color: #000;
  margin-bottom: 30px;
}

/* Botão CTA */
.env-cta-button {
  margin-top: 0;
}

.env-icon-circle {
  background: rgba(255, 255, 255, 0.2);
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsividade */
@media (max-width: 900px) {
  .env-grid {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  
  .env-logo-stamp {
    right: 10px;
    width: 100px;
    height: 100px;
  }

  h2 {
    font-size: 32px;
  }
}
