.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  pointer-events: none;
  z-index: 0;
}

.nav {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
    line-height: 0;
}

.logo img {
  height: 48px;
}

/* MENU DESKTOP */
.menu {
  display: flex;
  gap: 24px;
  font-size: 15px;
}

.menu button {
  background: none;
  color: #FFF;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font: inherit;
}

.menu button:focus-visible {
  outline: 2px solid rgba(255, 255, 255, 0.9);
  outline-offset: 4px;
}

.menu a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: width 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
}

/* HAMBURGER */
.hamburger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger span {
  position: absolute;
  width: 26px;
  height: 2px;
  border-radius: 999px;
  background: #FFF;
  transition: transform 0.3s ease, opacity 0.25s ease;
}

.hamburger span:nth-child(1) {
  transform: translateY(-7px);
}

.hamburger span:nth-child(2) {
  transform: translateY(0);
}

.hamburger span:nth-child(3) {
  transform: translateY(7px);
}

.hamburger.active span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}

.hamburger.active span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.hamburger:focus-visible {
  outline: 2px solid rgba(255, 255, 255, 0.9);
  outline-offset: 4px;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.3);

    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 20px 0;

    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
  }

  .menu.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  .nav {
    padding: 16px 20px;
  }
}
