.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
    line-height: 0;
}

.logo img {
  height: 48px;
}

/* MENU DESKTOP */
.menu {
  display: flex;
  gap: 24px;
  font-size: 15px;
}

.menu button {
  background: none;
  color: #FFF;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font: inherit;
}

.menu a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: width 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 2px;
  background: #FFF;
  transition: 0.3s;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 20px 0;

    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
  }

  .menu.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  .nav {
    padding: 16px 20px;
  }
}
